<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Stroyka</title>
    <link rel="icon" type="image/png" href="/UserDocs/images/favicon.png"><!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i"><!-- css -->
    <link rel="stylesheet" href="/UserDocs/vendor/bootstrap-4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/UserDocs/vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/UserDocs/css/style.css"><!-- js -->
    <script src="/UserDocs/vendor/jquery-3.3.1/jquery.min.js"></script>
    <script src="/UserDocs/vendor/bootstrap-4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="/UserDocs/vendor/owl-carousel-2.3.4/owl.carousel.min.js"></script>
    <script src="/UserDocs/vendor/nouislider-12.1.0/nouislider.min.js"></script>
    <script src="/UserDocs/js/number.js"></script>
    <script src="/UserDocs/js/main.js"></script>
    <script src="/UserDocs/vendor/svg4everybody-2.1.9/svg4everybody.min.js"></script>
    <script>svg4everybody();</script><!-- font - fontawesome -->
    <link rel="stylesheet" href="/UserDocs/vendor/fontawesome-5.6.1/css/all.min.css"><!-- font - stroyka -->
    <link rel="stylesheet" href="/UserDocs/fonts/stroyka/stroyka.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-6"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-97489509-6');</script>
</head>
<body>
    @RenderBody()
    <!-- quickview-modal -->
    <div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog modal-dialog-centered modal-xl"><div class="modal-content"></div></div></div><!-- quickview-modal / end --><!-- site -->
    <div class="site">
        <!-- mobile site__header --><header class="site__header d-lg-none"><div class="mobile-header mobile-header--sticky mobile-header--stuck"><div class="mobile-header__panel"><div class="container">
            <div class="mobile-header__body"><button class="mobile-header__menu-button"><svg width="18px" height="14px"><use xlink:href="images/sprite.svg#menu-18x14"></use></svg></button>
                <div class="mobile-header__search"><form class="mobile-header__search-form" action="#"><input class="mobile-header__search-input" name="search" placeholder="Ara" aria-label="Site search" type="text" autocomplete="off"> <button class="mobile-header__search-button mobile-header__search-button--submit" type="submit"><svg width="20px" height="20px"><use xlink:href="images/sprite.svg#search-20"></use></svg></button> <button class="mobile-header__search-button mobile-header__search-button--close" type="button"><svg width="20px" height="20px"><use xlink:href="images/sprite.svg#cross-20"></use></svg></button>
                <div class="mobile-header__search-body"></div></form></div>
                <div class="mobile-header__indicators">
                    <div class="indicator indicator--mobile-search indicator--mobile d-sm-none"><button class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="images/sprite.svg#search-20"></use></svg></span></button></div>
                    <div class="indicator indicator--mobile d-sm-flex d-none"><a href="wishlist.html" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="images/sprite.svg#heart-20"></use></svg> <span class="indicator__value">0</span></span></a></div>
                    <div class="indicator indicator--mobile"><a href="cart.html" class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px"><use xlink:href="images/sprite.svg#cart-20"></use></svg> <span class="indicator__value">3</span></span></a></div></div></div></div></div></div></header><!-- mobile site__header / end --><!-- desktop site__header --><header class="site__header d-lg-block d-none">
                        <div class="site-header"><div class="site-header__middle container"><div class="site-header__logo"><a href="index.html"><svg xmlns="http://www.w3.org/2000/svg" width="196px" height="26px"><path d="Shopping234"></path></svg></a></div><div class="site-header__search">
                            <div class="search"><form class="search__form" action="#"><input class="search__input" name="search" placeholder="Ara" aria-label="Site search" type="text" autocomplete="off"> <button class="search__button" type="submit"><svg width="20px" height="20px"><use xlink:href="images/sprite.svg#search-20"></use></svg></button><div class="search__border"></div></form></div></div></div></div>
                            <div class="site-header__nav-panel">
                                <div class="nav-panel"><div class="nav-panel__container container"><div class="nav-panel__row">
                                    <div class="nav-panel__departments"><!-- .departments --><div class="departments departments--opened departments--fixed" data-departments-fixed-by=".block-slideshow"><div class="departments__body">
                                        <div class="departments__links-wrapper"><ul class="departments__links"><li class="departments__item"><a href="/User/Elekronik">Elekronik <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use></svg></a>
                                                    <div class="departments__megamenu departments__megamenu--xl"></div>
                                                </li>
                                                <li class="departments__item"><a href="/User/Gıda">Gıda <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use></svg></a><div class="departments__megamenu departments__megamenu--nl"></div></li>
                                                <li class="departments__item"><a href="/User/Giyim">Giyim <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use></svg></a><div class="departments__megamenu departments__megamenu--sm"></div></li>
                                                <li class="departments__item departments__item--menu"><a href="/User/Oyuncak">Oyuncak <svg class="departments__link-arrow" width="6px" height="9px"><use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use></svg></a><div class="departments__menu"></div></li>
                                                <li class="departments__item"></li>
                                                <li class="departments__item"></li>
                                                <li class="departments__item"></li>
                                                <li class="departments__item"></li>
                                                <li class="departments__item"></li>
                                                <li class="departments__item"></li>
                                            </ul>
                                        </div>
                                    </div><button class="departments__button"><svg class="departments__button-icon" width="18px" height="14px"><use xlink:href="images/sprite.svg#menu-18x14"></use></svg> Kategoriler <svg class="departments__button-arrow" width="9px" height="6px"><use xlink:href="images/sprite.svg#arrow-rounded-down-9x6"></use></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div><!-- site__body -->
        <div class="site__body"></div>
    </div><!-- site__body / end -->
    <!-- site / end --> 
</body>

</html>